@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=Noto+Sans+Sinhala:wght@400;700&family=Noto+Sans+Tamil:wght@400;700&display=swap');

@theme {
  --color-primary: #0f2c59;
  --color-accent: #d4af37;
  --color-darkBg: #0b0e14;
  --color-darkCard: #1e2430;
}

@variant dark (&:is(.dark, .dark *));

/* Smooth scrolling */
html { scroll-behavior: smooth; }

/* Custom Scrollbar for the modal */
.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-thumb { background-color: #d4af37; border-radius: 4px; }